.title
{
    border-bottom: 2px solid gray;
}

body{
    height: 70vh;
    /* background-color: black; */
}
img
{
    height: 300px;
    width: 300px;
    object-fit: cover;
    /* border: 2px red solid; */
        

}
.row
{
    /* border: green solid 2px; */
    padding-left: -50px;
}
.img-text
{
    /* border: 2px yellow solid; */
    margin-left: 80px;
}
.single-box
{
    position: relative;
}
.image-area
{
    position: absolute;
}
.carousel-indicators
{
    left: 0;
    top: auto;
    bottom: -70px;
}
.carousel-indicators li
{
    background: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.carousel-indicators .active
{
    background: red;
}
.EARPHONE
{
    margin-top: 100px;
    /* border-bottom: 2px solid gray; */
    
}
.laptop
{
    margin-top: 100px;
   
}
img:hover
{
    transform: scale(1.3);
    z-index: 1;
    transition: 4s;
    
}
.search
{
    max-width: 500px;
    width: 100%;
    display: flex;
    margin-right: 10px;
    
    
}
.cart
{
    height: 30px;
    width: 30px;
    object-fit: cover;
    /* border: 2px red solid; */
    margin-bottom: 3px;

    
}
li
{
    list-style: none;
   
    
}

.navbar
{
    background-color: #0B2342;
}
#login
{
    margin-left: 350px;
}

.bottom-bar{
    color: white ;
    background-color: #0B2342;
    margin-top: 100px;
}





